<form class="form-horizontal" #employeeForm="ngForm" (ngSubmit)="save()">
    <div class="form-group" [class.has-error]="!(name.valid || name.pristine)">
        <label for="name" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                   required [(ngModel)]="employee.name" #name="ngModel">
        </div>
    </div>
    <div class="form-group" [class.has-error]="!(position.valid || position.pristine)">
        <label for="position" class="col-lg-2 control-label">Position</label>
        <div class="col-lg-10">
            <select class="form-control" id="position" name="position"
                    required [(ngModel)]="employee.positionId" #position="ngModel">
                <option *ngFor="let position of positions" [value]="position.id">{{position.title}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <div *ngFor="let position of positions">
                <div *ngIf="employee.positionId == position.id">
                    <span *ngFor="let skill of position.skills" class="label label-info" style="margin: 2px 2px;">{{skill.title}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button (click)="back()" type="reset" class="btn btn-default">Back</button>
            <button [disabled]="!employeeForm.form.valid" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>